<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.asnc.college.mhservice.system.mapper.HealthSelfAssessmentMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO health_self_assessment (
            account, name ,avatar, gender, age,
            height,weight,bloodPressure,heartRate,
            measurement_time,recent_diet
        ) VALUES (
            #{account}, #{name}, #{avatar}, #{gender},#{age},
            #{height},#{weight},#{blood_pressure},#{heart_rate},
            #{measurementTime},#{recentDiet}
                 )
    </insert>


    <delete id="deleteById">
        DELETE FROM health_self_assessment WHERE id=#{id}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM health_self_assessment WHERE id IN (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <update id="update">
        UPDATE health_self_assessment
        <set>
            <if test="account != null">
                account=#{account},
            </if>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="gender != null">
                gender=#{gender},
            </if>
            <if test="avatar != null">
                avatar=#{avatar},
            </if>
            <if test="age != null">
                age=#{age},
            </if>
            <if test="height != null">
                height=#{height},
            </if>
            <if test="weight != null">
                weight=#{weight},
            </if>
            <if test="bloodPressure != null">
                blood_pressure=#{bloodPressure},
            </if>
            <if test="heartRate != null">
                heart_rate=#{heartRate},
            </if>
            <if test="measurementTime != null">
                measurement_time=#{measurementTime},
            </if>
            <if test="recentDiet != null">
                recent_diet=#{recentDiet},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!-- int count(); -->
    <select id="count" resultType="int">
        SELECT count(*) FROM health_self_assessment
    </select>

    <select id="countByDepartment" resultType="int">
        SELECT count(*) FROM health_self_assessment WHERE department=#{department}
    </select>

    <select id="standard" resultMap="StandardResultMap">
        SELECT
        <include refid="StandardQueryFields"/>
        FROM
        health_self_assessment
        WHERE
        id=#{id}
    </select>

    <sql id="StandardQueryFields">
        <if test="true">
            id, account,name ,gender, avatar, age,
            height,weight,booldPressure,heartRate,measurementTime,
            recentDiet
        </if>
    </sql>
    <resultMap id="StandardResultMap" type="edu.asnc.college.mhservice.system.pojo.vo.HealthSelfAssessmentStandardVO">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="avatar" property="avatar"/>
        <result column="age" property="age"/>
        <result column="height" property="height"/>
        <result column="weight" property="weight"/>
        <result column="blood_pressure" property="bloodPressure"/>
        <result column="heart_rate" property="heartRate"/>
        <result column="measurement_time" property="measurementTime"/>
        <result column="recent_diet" property="recentDiet"/>
    </resultMap>


    <select id="list" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields"/>
        FROM
        health_self_assessment
        ORDER BY
        id
    </select>

    <sql id="ListQueryFields">
        <if test="true">
            id, account,name ,gender, avatar, age,
            height,weight,booldPressure,heartRate,messurementTime,
            recentDiet
        </if>
    </sql>

    <resultMap id="ListResultMap" type="edu.asnc.college.mhservice.system.pojo.vo.HealthSelfAssessmentListItemVO">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="avatar" property="avatar"/>
        <result column="age" property="age"/>
        <result column="height" property="height"/>
        <result column="weight" property="weight"/>
        <result column="blood_pressure" property="bloodPressure"/>
        <result column="heart_rate" property="heartRate"/>
        <result column="measurement_time" property="measurementTime"/>
        <result column="recent_diet" property="recentDiet"/>
    </resultMap>


</mapper>